header {
    text-align: end;
    background-color: lightgray;
    color: white;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 50px;
}

a {
    color: white;
}

aside {
    background-color: lightgray;
    color: black;
    float: left;
    width: 15%;
    height: 100%;
    padding-left: 15px;

  

}

Body{ 
    background-color: white;
}
body h1,h2 {
    text-align: center;
}

body img {
    width: 250px;
    height: 251px;
    float: right;
}


label, button{display:block; margin-top:1em;}
button{margin:2em;}
.bulb:hover {
    background-image: url(Bulblight.png);
}

footer {
    background-color: pink;
    padding: 2em;

}